body {
  width: 1200px;
  border: 1px solid #000;
  margin: 20px;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
}

.layout {
  margin: 0 auto;
  display: flex;
  padding: 0 0 30px 30px;
}

.land-area {
  border: 1px solid #000;
  min-width: 800px;
  height: 800px;
  padding: 20px 0;
}

.village {
  position: absolute;
  border: 3px solid #458342;
  border-radius: 10px;
  padding: 10px;
}

.info-area {
  padding: 0 20px;
  width: 30%;
}

.info-text {
  margin-top: 20px;
  background-color: #caddc9;
  padding: 20px 15px;
  word-break: keep-all;
  line-height: 30px;
}

button {
  background-color: red;
  border-radius: 10px;
  color: white;
  padding: 5px 15px;
  font-weight: bold;
  cursor: pointer;
}

.hide {
  display: none;
}
